html {
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, body {
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 50px;
}
.zipForm label {
  font-size: 14px;
  padding-right: 6px;
}
.zipForm #field {
  margin-right: 6px;
  border-radius: 5px;
  border-color: #ddd;
  border-width: 1px;
  border-image: none;
  border-style: solid;
}
.zipForm #submit {
  border-radius: 5px;
  border-color: #ddd;
  color: #1483c2;
  display: block;
  margin: 10px auto 0;
  font-weight: bold;
  padding: 1px 7px;
  line-height: 14px;
  font-family: Helvetica, Arial, sans-serif;
}
.cloud95 {
  text-align: center;
}
.cloud95-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  /* height: 40vmin; */
  max-width: 300px;
  margin: auto;
  padding: 120px 0 20px;
}
.topNav header {
  background-color: #fff;
}
.topNav h2 {
  margin: auto;
}
.topNav h2 a {
  padding: 0 10px;
  text-decoration: none;
  color: #1483c2;
  -webkit-transition: all 500ms; /* Safari */
  transition: all 500ms;
}
.topNav h2 a:hover, .topNav h2 a:active, .topNav h2 a:focus {
  color: #555;
  text-shadow: 0.5px 0.5px 1px #555;
  -webkit-transition: all 500ms; /* Safari */
  transition: all 500ms;
}
.topNav {
  position: fixed;
  width: 100%;
}
.navBar {
  height: 64px !important;
}
.topNavBorder.bottomBorder {
  margin: 0;
  background-image: url('./cloud-separator-menu.png');
  position: fixed;
  top: 64px;
}
.topBorder {
  background-image: url('./cloud-separator-top.jpg');
  display: block;
  width: 100%;
  height: 30px;
  background-repeat: repeat-x;
  margin: 60px 0 0px;
}
.bottomBorder {
  background-image: url('./cloud-separator-bottom.jpg');
  display: block;
  width: 100%;
  height: 10px;
  background-repeat: repeat-x;
  margin: 60px 0 0px;
}

.cloud95-home, .cloud95-forecast, .cloud95-puns {
  background-color: #1483c2;
  color: white;
}
.cloud95-home h1 {
  margin: 0;
}
.cloud95-home p {
  margin: 0;
}
.cloud95-today {
  background-color: #fff;
  color: #1483c2;
  margin: 40px 0 0;
}
.cloud95-today p {
  text-align: left;
}
.cloud95-today .card {
  width: 400px;
  max-width: 100%;
  margin: auto;
}




/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
